BODY {
    background-color: #ffffff;
    color: #666666;
    font: 12px verdana,sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

A {
    color: #666666;
    background-color: inherit;
    text-decoration: none;
}

A:hover {
    color: #3300dd;
    background-color: inherit;
    text-decoration: underline;
}

A:visited {
    color: #3300dd;
    background-color: inherit;
}

HR {
    border: 1px solid #999999;
    margin: 1px 0px 4px 0px;
}

#content {
    padding: 0px;
    margin: 0px auto;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
    margin: 0px auto 10px auto;
    width: 350px;
}

#login {
    width: 500px;
    margin: 0px auto;
}

#login .error {
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 5px 0px;
}

#login .label {
    float: left;
    text-align: right;
    width: 65px;
    margin: 2px 0px;
    padding: 0px 2px;
}

#login .input {
    float: left;
    text-align: left;
    margin: 2px 0px;
    padding: 0px;
}

#login input[type="submit"] {
    margin: 4px;
    width: 60px;
}

#header {
    width: 610px;
    margin: 0px auto;
    padding: 2px;
}

#openid_form {
    margin: 0px auto;
    text-align: center;
}

#openid_form div.buttons {
    float: left;
    left: 50%;
    position: relative;
}

#openid_form div.buttons div.center {
    float: left;
    left: -50%;
    position: relative;
}

#openid_form div.buttons div.button {
    float: left;
    padding: 3px 3px 3px 4px;
}

#openid_form div.buttons div.nohighlight {
    background: #fcfcfc;
}

#openid_form div.buttons div.highlight {
    background: #fffcc9;
}

#openid_form div.buttons a {
    width: 100px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #dddddd;
    float: left;
}

/*
#entries input {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-color: #ccc !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    height: 24px;
    border-width: 1px;
    margin-left: 3px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    color: #666666;
    width: 24px;
}
*/

#entries input {
/*    background-image: url("admin_icons.png");*/
    border:0;
    height:16px;
    width:16px;
    margin-top:2px;
    margin-left:3px;
    background-color:transparent;
}

#entries select {
    margin: 0px !important;
    padding: 0px !important;
    height:24px;
    vertical-align: top;
    margin-top: 4px;
}

#entries {
    color: #666666;
    margin: 0px;
    padding: 0px;
    height:32px;
    background-image:-moz-linear-gradient(#F1F1F1, #F7F7F7 80%);
}

#entries div.list {
    float: left;
    text-align: left;
    margin-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
}

#entries div.list select {
    width: 225px;
}

#entries div.menu {
    float: right;
    text-align: right;
    margin: 5px 3px 0px 0px;
}

#entries div.clear {
    clear: both;
}

#entries div.working {
    width: 16px;
    display: block;
    float: left;
    text-align: center;
    margin: 8px 0px 3px 0px;
    padding: 0px;
}

#entries div.working > img {
    display: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#message {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    z-index: 1000;
    position: absolute;
}

 div.profile div.label,  div.create div.label {
    width: 100px;
    font-weight: bold;
    text-align: right;
    float: left;
    padding: 3px 0px 0px 0px;
    margin: 0px 0px 8px 0px;
}

 div.profile div.value,  div.create div.value {
    text-align: left;
    float: left;
    margin: 0px 0px 0px 6px;
}

 div.profile div.value input[type="text"],  div.create div.value input[type="text"] {
    width: 175px;
}

 div.profile div.clear,  div.create div.clear {
    clear: both;
}

 div.create div.private {
    text-align: center;
}

 div.profile div.openid {
    text-align: center;
    margin-bottom: 15px;
}

div.manage {
    font-size: 12px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div.manage div.header {
    width: 500px;
    margin: 2px auto;
    font-weight: bold;
    background: #cccccc;
    padding: 2px 0px 2px 4px;
}

div.manage div.row {
    width:  500px;
    margin: 0px auto 8px auto;
}

 div.manage div.template {
    display: none;
}

 div.manage div.header > div.username,  div.manage div.row div.user {
    text-align: left;
    float: left;
}

 div.manage div.header > div.is,  div.manage div.row div.is {
    width: 100px;
    text-align: center;
    float: right;
}

 div.manage div.header > div.clear,  div.manage div.row div.clear {
    clear: both;
}

 div.manage div.row > div.user {
    width: 297px;
}

 div.manage div.row > div.user > div.username {
    float: left;
}

 div.manage div.row > div.user > div.password {
    float: right;
}

 div.manage div.row > div.user > div.clear {
    clear: both;
}


.buttonli{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-color: #ccc !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
/*    border-color-ltr-source: physical;*/
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
/*    float: left;*/
    height: 22px;
    border-width: 1px;
    margin-left: 2px;
    overflow-x: hidden;
    overflow-y: hidden;
/*    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
*/
    color: #666666;
    width: 22px;
    display: inline-block;
}

.AdminIcon{
    background-image: url('admin_icons.png');
}

.buttonicon{
    display:inline;
}

.list form{
    font-size:0px;
}

.RightButtons{
  font-size:0px;
  display:inline-block;
  text-align:left;
}

#entries li:hover{
  background: #fff;
}
